@import "primeng/resources/themes/lara-dark-purple/theme.css";
@import "primeng/resources/primeng.css";



.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.grid-column {
    text-align: center;
}